/*Default styling*/
html {
    font-size: 62.5%;
}

body {
    font-size: 1.75rem;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
    font-size: 4rem;
  }
  
h2 {
  font-size: 3.5rem;
}
  
h3{
  font-size: 3rem;
}
  
h4 {
  font-size: 2.5rem;
}
  
h5, a {
  font-size: 2rem;
}
  
h6 {
  font-size: 1.5rem;
}
  
p {
  margin-bottom: 1rem;
}

/*Universal Selector*/
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*Variables*/
:root{
  --main-color: teal;
  --secondary-color: lightgrey;

}

/*Element Selector*/

a{
  text-decoration: none;
  color: black;
}

body{
  background-color: var(--secondary-color);
}

div h3, div h4, ul{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

footer {
  width: 100%;
  background-color: var(--main-color);
  color: black;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header {
  color: black;
  background-color: var(--main-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

h1{
  margin-left: 2rem;
}

h3{
  border-bottom: 0.5rem solid black;
}

main{
    margin: 2rem 4rem 4rem;
}

p, ul {
  margin: 2rem;
}

span a{
  margin: 0.4rem;
  font-size: 17.5px;
  color:blue
}

ul{
    display: flex;
    flex-wrap: wrap;

}

/*Classes*/

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.card{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid var(--main-color);
    border-radius: 2rem;
    height: 400px;
    width: 400px;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 5px 5px 5px black;
}

.card-header{
  border: 0.2rem solid black;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 2rem;
  background-color: var(--main-color);
}
.card-header h5{
  padding-top: .5rem;
}

.card.wedding{
    background-image: url("../images/wedding-rings.avif");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
}

.card.dateNight{
  background-image: url("../images/night-sky.jpg");
  background-size: fill;
}

.card.quiz{
  background-image: url("../images/question-mark.png"); 
}

.card.schedule{
    background-image: url("../images/schedule.webp");
    background-size: 100%; 
}

.card.weather{
    background-image: url("../images/placeholder-4.jpeg");
    background-size: fill;
}

.card.cod{
  background-image: url("../images/CoD-logo.png");
  background-size: 100%;
  background-color:white;
}

.card.card-small{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 400;
}

.icon{
  margin-top: 0.55rem;
  height: 3rem;
  width: 3rem;
}

.footer {
  margin-top: auto;
  height: fit-content;
}

.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.form button{
  background-color: var(--main-color);
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  width: 50rem;
  border: solid black 1px;
  border-radius: 5px;
  font-size: 15px;
}

.form-error{
  text-align: center;
}

.form input, .form textarea {
  width: 50rem;
  font-size: medium;
  padding-left: 0.5rem;
}

.message {
  height: 10rem;
  field-sizing: normal;
}

.my-work{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.nav-button {
  background: none;
  border: none;
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin-right: 2rem;
}

.profile-image{
  float: left;
  border: 0.25rem solid black;
  margin: 2rem;
}

.proficiency{
  display: block;
  list-style: disc;
}

.proficiency li{
  margin-left: 5rem;
}

/*Id's*/
#about{
  text-decoration: underline;
}

/*psuedo class*/
.card-header:hover, .form button:hover{
  background-color: rgb(117, 177, 177);
}

.my-work:last-child{
  margin-bottom: 2.5rem;
}